@import "../../../styles/theme.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: #{lg(50)};
  width: 100%;
  background: $green;
  color: $white;
  font-size: #{lg(16)};
  font-weight: 500;
  border-radius: #{lg(6)};
  outline: none;
  border: #{lg(1)} solid transparent;
  text-transform: capitalize;
}

$loader-size: 5rem;
$animation-duration: 1.5s;
